<div class="col-md-6 col-md-offset-3 col-sm-12">

  <mat-card class="empty-layout-margin">
    <mat-card-title class="text-center">Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" class="example-form" [formGroup]="loginForm">
        <div class="col-md-8 col-md-offset-2">
         
          <div class="text-danger text-center form-group">{{loginError}}</div>

            <mat-form-field class="form-group">
              <input matInput formControlName="username" placeholder="Username" type="text" />
              <mat-error *ngIf="loginForm.get('username').hasError && loginForm.get('username').touched">
                Username is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-group">
              <input matInput formControlName="password" placeholder="Password" type="password" />
              <mat-error *ngIf="loginForm.get('password').hasError && loginForm.get('password').touched">
                Password is required
              </mat-error>
            </mat-form-field>

            
         
          <div class="text-center">
            <button type="submit" mat-button class="btn btn-primary">Login</button>
            <br /><br />
            <a routerLink="/register">Create account</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>