/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';
/* 
body{
    background-color: rgb(187, 184, 184);
}

#content.container{
    background-color: #fff;
    min-height: 100vh;
} */

.fill-space {    
    flex: 1 1 auto;
}

.navbar-wrapper{
    background-color: #3f51b5;
}

.navbar-wrapper .container{
    padding: 0;
    background-color: none;
}

.nav.navbar-nav li.active button.mat-button{
    background-color: #6678de;
}
 
.mat-toolbar.mat-primary .navbar-nav{
    margin: 0;
}

.mat-toolbar-single-row{
    padding: 0 !important;
}

.mat-card-content{
    overflow: hidden;
}

.mat-form-field{
    width: 100%;
}

.empty-layout-margin{
    margin-top:150px;
}

.page-title{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}