<h1 class="page-title">Withdraw money</h1>


<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">

    <small *ngIf="withdrawSuccess" class="text-success form-group">You successfully withddrawn money </small>
    <br />
    <small class="text-danger form-group">{{withdrawError}}</small>

    <form (ngSubmit)="onSubmit()" [formGroup]="withdrawForm">
      <mat-form-field class="form-group">
        <span matPrefix>$&nbsp;</span>
        <input min="1" matInput type="number" formControlName="amount" />
        <mat-error *ngIf="withdrawForm.controls.amount.errors?.required">
          Specify amount which you would like to withdraw
        </mat-error>
        <mat-error *ngIf="withdrawForm.controls.amount.errors?.min">
          Withdraw value must be greater than 0
        </mat-error>
      </mat-form-field>
      <button mat-button type="submit" class="btn btn-primary">Withdraw</button>
    </form>

  </div>
</div>