<h1 class="page-title">Transactions list</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Operation type</th>
            <th class="text-right">Amount</th>
            <th>Reciver/Sender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions?.items">
            <td>{{transaction.createdAt | date:'short'}}</td>
            <td [ngSwitch]="transaction.operationType">
                <span class="text-success" *ngSwitchCase="0">Deposit</span>
                <span class="text-danger" *ngSwitchCase="1">Withdraw</span>
                <span [ngClass]="{'text-danger': transaction.isOwner, 'text-success' : !transaction.isOwner}"
                    *ngSwitchCase="2">Transfer</span>
            </td>
            <td [ngSwitch]="transaction.operationType" class="text-right">
                <span class="text-success" *ngSwitchCase="0">
                    ${{transaction.amount.toFixed(2)}}
                </span>
                <span class="text-danger" *ngSwitchCase="1">
                    ${{transaction.amount.toFixed(2)}}
                </span>
                <span *ngIf="transaction.operationType === 2 && transaction.isOwner" class='text-danger'>
                    ${{transaction.amount.toFixed(2)}}
                </span>
                <span *ngIf="transaction.operationType === 2 && !transaction.isOwner" class='text-success'>
                    ${{transaction.amount.toFixed(2)}}
                </span>
            </td>
            <td>
                <span *ngIf="transaction.operationType === 2 && transaction.isOwner">
                    {{transaction.senderName}}
                </span>
                <span *ngIf="transaction.operationType === 2 && !transaction.isOwner">
                    {{transaction.reciverName}}
                </span>
            </td>
        </tr>
    </tbody>
</table>

<mat-paginator #paginator (page)="onPagination($event)" [length]="transactions?.totalRecords" [pageSize]="PAGE_SIZE" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>