<h1 class="page-title">Deposite money</h1>


<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">

    <small *ngIf="depositeSuccess" class="text-success form-group">Your deposite has been applied</small>
    <br />
    <small class="text-danger form-group">{{depositeError}}</small>

    <form (ngSubmit)="onSubmit()" [formGroup]="depositForm">
      <mat-form-field class="form-group">
        <span matPrefix>$&nbsp;</span>
        <input min="1" matInput type="number" formControlName="amount" />
        <mat-error *ngIf="depositForm.controls.amount.errors?.required">
          Specify amount would like you wish to deposit
        </mat-error>
        <mat-error *ngIf="depositForm.controls.amount.errors?.min">
          Deposit value must be greater than 0
        </mat-error>
      </mat-form-field>
      <button mat-button type="submit" class="btn btn-primary">Deposite</button>
    </form>

  </div>
</div>