
<h1 class="text-center empty-layout-margin">Registration</h1>
<br />

<form (ngSubmit)="onFormSubmited()" [formGroup]="registrationForm">

    <div class="col-md-6 col-md-offset-3 col-sm-12">

        <div class="text-danger form-group text-center">{{registrationError}}</div>

        <mat-form-field class="form-group">
            <input matInput formControlName="username" placeholder="Username" type="text" />
            <mat-error *ngIf="registrationForm.get('username').hasError && registrationForm.get('username').touched">
                Please enter username
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
            <input matInput  formControlName="password" placeholder="Password" type="password" />
            <mat-error *ngIf="registrationForm.get('password').hasError && registrationForm.get('password').touched">
                Please enter password
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
            <input matInput  formControlName="confirmPassword" placeholder="Confirm Password" type="password" />
            <mat-error *ngIf="registrationForm.get('confirmPassword').errors?.required && registrationForm.get('confirmPassword').touched">
                Please enter your password once again
            </mat-error>
             <mat-error *ngIf="registrationForm.get('confirmPassword').errors?.matchPassword && registrationForm.get('confirmPassword').touched">
                Passwords doesn't match
            </mat-error> 
        </mat-form-field>

        <div class="text-center">
            <button type="submit" mat-button class="btn btn-primary">Register</button>
            <br /><br />
            <a routerLink="/login">Already have account</a>
        </div>
    </div>
</form>