<h1 class="page-title">Transfer money</h1>


<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">

    <small *ngIf="transferSuccess" class="text-success form-group">Money has been transfered</small>
    <br />
    <small class="text-danger form-group">{{transferError}}</small>

    <form (ngSubmit)="onSubmit()" [formGroup]="transferForm">
      <mat-form-field>
        <mat-select [formControl]="transferForm.get('users')" placeholder="Select reciever">
          <mat-option *ngFor="let user of users" [value]="user.id">
            {{user.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transferForm.controls.users.errors?.required">
          Specify reciver for current transaction
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group">
        <span matPrefix>$&nbsp;</span>
        <input min="1" matInput type="number" formControlName="amount" />
        <mat-error *ngIf="transferForm.controls.amount.errors?.required">
          Specify amount would like you wish to deposit
        </mat-error>
        <mat-error *ngIf="transferForm.controls.amount.errors?.min">
          Deposit value must be greater than 0
        </mat-error>
      </mat-form-field>

      <button mat-button type="submit" class="btn btn-primary">Transfer</button>
    </form>

  </div>
</div>