<ng-template [ngIf]="isAuthorized">
  <div class="navbar-wrapper">
    <div class="container">
      <mat-toolbar color="primary">

        <button mat-icon-button [matMenuTriggerFor]="appMenu" class="visible-xs">
          <mat-icon>view_headline</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item routerLink="">Home</button>
          <button mat-menu-item routerLink='/deposit'>Deposit</button>
          <button mat-menu-item routerLink='/withdraw'>Withdraw</button>
          <button mat-menu-item routerLink='/transfer'>Transfer</button>
        </mat-menu>


        <ul class="nav navbar-nav hidden-xs">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <button mat-button routerLink="">Home</button>
          </li>
          <li routerLinkActive="active">
            <button mat-button routerLink='/deposit'>Deposit</button>
          </li>
          <li routerLinkActive="active">
            <button mat-button routerLink='/withdraw'>Withdraw</button>
          </li>
          <li routerLinkActive="active">
            <button mat-button routerLink='/transfer'>Transfer</button>
          </li>
        </ul>
        <span class="fill-space"></span>

        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <button mat-button (click)="onLogout()">Logout</button>
          </li>
        </ul>
      </mat-toolbar>
    </div>
  </div>
</ng-template>

<div  class="container">
  <router-outlet></router-outlet>
</div>